/* Animations */
/*------------*/
/*
  de - delay
  dur - duration
  s - second
  h - half second
  q - quarter second (coming soon!)
*/

/* Animation Duration */
.ani-de-h {
  animation-delay: 500ms !important;
}

.ani-de-1s {
  animation-delay: 1s !important;
}

.ani-de-1sh {
  animation-delay: 1500ms !important;
}

.ani-de-2s {
  animation-delay: 2s !important;
}

.ani-de-2sh {
  animation-delay: 2500ms !important;
}

.ani-de-3s {
  animation-delay: 3s !important;
}

.ani-de-3sh {
  animation-delay: 3500ms !important;
}

.ani-de-4s {
  animation-delay: 4s !important;
}

.ani-de-4sh {
  animation-delay: 4500ms !important;
}

.ani-de-5s {
  animation-delay: 5s !important;
}

.ani-de-5sh {
  animation-delay: 5500ms !important;
}

/* Animation Duration */
.ani-dur-h {
  animation-duration: 500ms !important;
}

.ani-dur-1s {
  animation-duration: 1s !important;
}

.ani-dur-1sh {
  animation-duration: 1500ms !important;
}

.ani-dur-2s {
  animation-duration: 2s !important;
}

.ani-dur-2sh {
  animation-duration: 2500ms !important;
}

.ani-dur-3s {
  animation-duration: 3s !important;
}

.ani-dur-3sh {
  animation-duration: 3500ms !important;
}

.ani-dur-4s {
  animation-duration: 4s !important;
}

.ani-dur-4sh {
  animation-duration: 4500ms !important;
}

.ani-dur-5s {
  animation-duration: 5s !important;
}

.ani-dur-5sh {
  animation-duration: 5500ms !important;
}

/* Animation Interation Count */
.ani-once {
  animation-iteration-count: 1 !important;
}

.ani-infinite {
  animation-iteration-count: infinite !important;
}

/* Animation Entries */
.ani-fade-up {
  animation-name: ani-fade-up;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  position: relative;
  opacity: 0;
}

@keyframes ani-fade-up {
  0% {
    translate: 0 0;
    opacity: 0;
  }

  100% {
    translate: 0 -12px;
    opacity: 1;
  }
}

.ani-fade-in {
  animation-name: ani-fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  opacity: 0;
}

@keyframes ani-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes ani-bg-shift-right {
  0% {
    background-position-x: 75%;
  }

  100% {
    background-position-x: 35%;
  }
}